<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <img class ="portrait" src="/image/img1.jfif">
    <p>I am here </p>
    <p>created by {{name}}</p>
</body>
<footer>
    {{>footer}}
</footer>
</html>